fastapi
uvicorn[standard]
python-multipart

numpy
opencv-python
Pillow

torch
torchvision
torchaudio

easyocr
paddleocr
paddlex
ultralytics
insightface
onnxruntime
paddlepaddle

transformers
open_clip_torch

PyMuPDF
pdf2image
pdfplumber
pypdf
pytesseract

pydantic
pydantic-settings
python-dotenv
rapidfuzz

inference-sdk
ollama